body {
    display: grid;
    grid-template-columns: [header-start] 44px auto 23px auto [header-end] 30px;
    grid-template-rows: [header-start] auto [header-end] 23px minmax(100px, auto) 14px auto;
    grid-template-areas: '. . . . .' '. . . . .' '. aside . main .' '. . . . .' 'footer footer footer footer .';
    grid-area: aside;
    grid-gap: 5px;
    font-family: 'ABeeZee', sans-serif;
    background-image: url('https://images.unsplash.com/photo-1554228422-b8d4e6b3fa1e?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMDkyMnwwfDF8c2VhcmNofDI4fHxsaWdodHxlbnwwfHx8fDE2MTc3ODg0MzQ&ixlib=rb-1.2.1&q=80&w=1080');
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    font-size: 12px;
}

header {
    grid-area: header;
}

img {
    max-height: 100%;
    object-fit: cover;
    width: 99%;
}

.shadow-box {
    box-shadow: 1px 1px 3px;
}

.common {
    color: #0c0807;
    background-color: #faf5f5;
    padding: 10px;
}

h1 {
    font-size: 25px;
}

aside {
    grid-area: aside;
}

ul {
    padding-right: 10px;
}